body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.login {
  height: 100vh;
  background: linear-gradient(120deg, #F75590, #00C2CB);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  min-height: 400px;
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  margin-bottom: 32px;
  color: #303030;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__input {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;
  position: relative;
}

.login__input-border {
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  background: #cfcfcf;
  transition: .3s ease-in-out;
}

.login__input-border::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-bottom: 16px;
  background: linear-gradient(120deg, #F75590, #00C2CB);
  transition: .3s ease-in-out;
}

.login__submit {
  height: 48px;
  width: 100%;
  padding-left: 8px;
  outline: none;
  position: relative;
  background: linear-gradient(120deg, #F75590, #00C2CB, #F75590);
  background-size: 200%;
  margin-bottom: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;
}

.login__reset {
  font-size: 12px;
  color: #929292;
  text-decoration: none;
}


